<%- model_class = Question -%>
<div class="page-header">
  <h1> BSCS Community </h1>
</div>

<% if @users.count > 3 and @users.count < 30 %>
  <table class = "table table-bordered">
    <tbody>
      <% col = 1 %>
      <tr>
      <% @users.each do |user| %>
          <% if col <= 3 %>
            <td> <%= image_tag user.image_url(:thumb).to_s, class: "image-polaroid" %><br /> <%= user.name %></td>
            <% col += 1 %>
          <% else %>
            </tr>
            <tr>
            <td> <%= image_tag user.image_url(:thumb).to_s, class: "image-polaroid" %><br /> <%= user.name %></td>
            <% col = 2 %>
          <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>
<%end%>

<% if @questions.count > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>QUESTIONS</strong></th>
        <th>Asked On</th>
        <th>Answers</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= link_to question.title, question_path(question) %></td>
          <td><%=question.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= question.answers.count %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_question_path,
  :class => 'btn btn-primary' %>
