<div class="page-header">
  <h3> <%=@question.title%> </h3>
</div>

<h5> <%=@question.question_text%> </h5>
Vote: <%=@question.votes.count%>
<%= link_to "UPVOTE", question_upvote_path(@question.id), method: :put %>
<hr>


<% if user_signed_in? %>
  <%=form_for @answer do |f| %>
  <%end%>
<% else %>
  <%= link_to "Sign In", new_user_session_path %> to answer.
<% end%>
