<div class="page-header">
  <h3> <%=@question.title%> </h3>
</div>

<div class="row-fluid">
  <div class="span2" id="question_vote" onMouseOut="hideLoginMsg(question_vote_login)" onMouseOver="showLoginMsg(question_vote_login)">
    <%= render partial: "vote", locals: { question: @question } %>
  </div>
  <div style="display:none" id='question_vote_login'></div>
  <div class="span10">
    <h5> <%=@question.question_text%> </h5>
  </div>
</div>
<hr>

<div>
  <div id="answers">
    <%= render :partial => "answers/create", :locals => { :answers => @question.answers } %>
  </div>
</div>

<% if user_signed_in? %>
  <h4> Your Answer: </h4>
  <div id="create_answer_form">
    <%= render :partial => 'answers/form' %>
  </div>
<% else %>
  <%= link_to "Sign In", new_user_session_path %> to answer.
<% end%>
