<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name, "Profile Name" %>
    <%= f.text_field :name %></div>

  <div><%= f.label :image, "Profile Picture" %>
    <%= image_tag @user.image_url(:thumb).to_s, class: "image-polaroid" if @user.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div><br />

  <div><%= f.label :email %>
    <%= f.email_field :email %></div>

  <div><%= f.label :password %>
    <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
