<!DOCTYPE html>
<html>
  <head>
    <title>BSCS Community</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="brand">BSCS Community</div>
          
          <ul class="nav pull-right">
            <li><%= link_to 'Ask', new_question_path %></li>
            <li class="divider-vertical"></li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html"><%=current_user.name%><b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "My Home", profile_path(current_user.id) %> </li>
                  <li><%= link_to "Edit Profile", edit_user_registration_path%>  </li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
            <%else%>
              <li><%= link_to "Sign In", new_user_session_path %> </li>
            <%end%>
          </ul>

        </div>
      </div>
    </div>

    <div class="container">
      <% if alert %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= alert %></strong>
        </div>
      <%end%>
      <% if notice %>
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= notice %></strong>
        </div>
      <%end%>
    </div>


    <div class="container">
      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <%= yield :right_side_panel %>
        </div>
      </div>
    </div>

  </body>
</html>
